:root{
    --first-color:#dbe4e8;
    --second-color:#f5f5f5;
    --third-color:#990099;
    --fourth-color:black;
    --font-family:'Fira Sans';
    --shadow:0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
}


/*Makes Font size respond to the device width to look great on all screens*/
html{font-size:calc(1em+1vw)}
/*Sets parent Font size for button and inout elments*/
button{font-size: inherit}
input{font-size: inherit}

body{
    font-family: var(--font);
    margin: 0;
    background-color: var(--first-color);
    padding-top: 4rem;
    display: grid;
/*this like is to center the grid vertically*/
    justify-items: center;
}


/*banner*/
.banner{}

.title{}
.banner ul{}
.banner li{}


/*about me*/
.about-me{}
.profile{}
.profile-pic{}
.about-me-text{}
/*socail media*/
.social-media li{}
.socail-medai ul{}


/*carrer*/
.career{}
.goals{}
.skills{}


/*projects*/
.projects{}
.project{}



/*contacts*/
.contact-form{}
.contact{}


/*form styles*/
input{}
input[type=button],{}


/*resume*/
.jobs{}
.job{}


/*education*/
.education{}


/*foot*/
.footer{}

