
body {
    margin: 100px auto;
    min-width: 250px;
    max-width: 25%;
    background-color: rgb(230, 240, 87);
}

.container-fluid{
    padding: 40px;
    font-family: sans-serif;
    color: darkslategray;
    background-color: rgb(177, 206, 245);
}

#temScale{
    color: rgb(255, 255, 255);
    font-style: italic;
}

#temp {   
    font-family: 'Lucida Sans'; /* 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#loc {
    color: darkslateblue;
    font-family: Tahoma; /* Geneva, Verdana, Tahoma, sans-serif */
    font-style: italic;
}